# ======================
# Python
# ======================
venv/
venv-sigesa/
**/__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# ======================
# Django
# ======================
*.log
static/
staticfiles/
mediafiles/

# ======================
# Node
# ======================
**/node_modules/
**/dist/
**/build/

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Testing
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Temp files
# ======================
*.swp
*.tmp
*.bak

# ======================
# Compiled
# ======================
*.so
*.dll
*.dylib

# ======================
# Security
# ======================
*.pem
*.key
*.crt

# ======================
# VSCode
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db