# ======================
# Python
# ======================
venv/
venv-sigesa/
**/__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# ======================
# Django
# ======================
*.log
staticfiles/

# ======================
# Node
# ======================
**/node_modules/
**/dist/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# VSCode
# ======================
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db